.Loginchangepasswordlinks {
    bottom: 15%;
    position: absolute;
    display: flex;
    flex-direction: row;
    column-gap: 7rem;
    text-decoration: underline;
}

.Loginchangepasswordarrow {
    position: absolute;
    width: 35px;
    height: 35px;
    top: -22.5%;
    left: -150%;
    padding: 6.26px 4.38px 6.26px 3.77px;
    border-radius: 8px;
    background-color: #BAC0C003;
    box-shadow: 0px 4px 4px 0px #00000040;
    color: black;
}