.App{
    height: 100vh;
    /* margin: 0;
    padding: 0; */
    background-color: #E9EDF6;
    /* padding:0.35rem 1rem 0 1rem; */
    /* padding-top: .35rem; */
    position: relative;
  }

  .Main{
    display: flex;
    flex-direction: row;
    column-gap: 1.25rem;
    /* row-gap: 1.25rem; */
    justify-content: flex-end;
    /* width: 100%; */
    /* align-items: flex-start; */
    margin: 0 1.5rem;
    position: relative;
  }
  
 