.sideBar {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    position: absolute;
    left: 0;
}

.sideBar svg {
    width: 24.57px;
    height: 24px;
}

.sideBar svg:first-child {
    margin-bottom: 25px;
}